@import url('https://fonts.googleapis.com/css?family=Lobster|Roboto+Condensed');

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
  color: black;
}

a:focus {
  text-decoration: none;
  color: black;
  border: none !important;
  outline: none;
}
